.wrapper {
  width: 100vw;
}

.container{
  width: 90%;
  min-width: 300px;
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  width: fit-content;
  font-size: 20px;
  line-height: 24px;
  margin: 20px auto 30px auto;
  font-weight: 700;
}

:global {
  .timer-btn  {
    display: block;
    width: 80%;
    min-width: 240px;
    margin: 0 auto 20px auto;
  }
}

.loader {
  margin: 30px auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;

  > div {
    height: 100%;
    width: 8px;
    display: inline-block;
    float: left;
    margin-left: 2px;
    -webkit-animation: delay 0.8s infinite ease-in-out;
    animation: delay 0.8s infinite ease-in-out;
  }

  .bar1{
    background-color: #754fa0 ;
  }
  .bar2{
    background-color: #09b7bf;
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
  }
  .bar3{
    background-color: #90d36b;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }
  .bar4{
    background-color: #f2d40d;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  .bar5{
    background-color: #fcb12b;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
  }
  .bar6{
    background-color: #ed1b72;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
  }
}


@keyframes delay {
  0%, 40%, 100% {
    transform: scaleY(0.05);
  }  20% {
       transform: scaleY(1.0);
     }
}

@media (min-width: 768px) {
  .title {
    font-size: 30px;
    line-height: 34px;
    margin: 40px 0 50px 0;
  }

  :global {
    .timer-btn  {
      display: inline-block;
      width: 150px;
      min-width: 150px;
      margin: 0 10px 40px 0;
    }
  }

  .loader {
    margin: 30px 0;
  }
}